 {% block body %}





  {% for Sponsor in b %}
    <tr>
     
    <td> {{ Sponsor.id }}</td> 
     <td> {{ Sponsor.nom}} </td>  
        <td>{{  Sponsor.adresse}} </td> 
         <td>{{  Sponsor.email }}</td> 
         
         <td>{{  Sponsor.num_tel }}</td> 
             <td> 
          <a href="{{path('modifierSponsor',{'id':Sponsor.id}) }}">modifier </a>
               <a href="{{path('deleteSponsor',{'id':Sponsor.id}) }}">supprimer </a>
             
              </td> 
    </tr>
  
      {% endfor %}



 {% endblock %}
