{% extends 'baseback.html.twig' %}

 {% block body %}

            <!-- Quick Action Toolbar Starts-->
          
            <!-- Quick Action Toolbar Ends-->
        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {{ form_start(f, {'attr': {'id': 'search-form'}}) }}
          {{ form_widget(f.searchQuery,{'attr': {'id': 'querry'}}) }}
           {{ form_widget(f.orderby,{'attr': {'id': 'order'}}) }}
       {{ form_end(f) }} 
<div class="table-responsive" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nom</th>
      <th scope="col">quantite</th>
      <th scope="col">budget</th>
      <th scope="col">description</th>
      <th scope="col">date</th>
      <th scope="col">id_utilisateur_id</th>
      <th scope="col">id_categorie_id</th>
    </tr>
  </thead>
  <tbody id="bac-table">
    {% for offre in offres %}
      <tr>
    
    <td> {{ offre.id }}</td> 
    <td> {{ offre.nom}} </td> 
    <td> {{ offre.quantite }}</td> 
    <td> {{ offre.budget}} </td> 
    <td> {{ offre.description }}</td>
    <td> {{ offre.date|date('d-m-Y') }}</td>  
    <td> {{ offre.id_utilisateur_id }}</td> 
    <td> {{ offre.id_categorie_id }}</td> 
    
    <td> 
      <a href="{{path('addReponseforoffre',{'id':offre.id}) }}">reponse sur offre </a>

  <a href="{{path('modifierOffre',{'id':offre.id}) }}">modifier </a>
  <a href="{{path('confirmdelete',{'id':offre.id}) }}">supprimer </a>
    </td> 
  
  {% endfor %}

</tbody>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{ encore_entry_script_tags('app') }}


<script> 
$(document).ready(function() {
    var typingTimer; // timer identifier
    var doneTypingInterval = 500; // time in ms

    $('#search-form').on('keyup', function() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    $('#search-form').on('keydown', function() {
        clearTimeout(typingTimer);
    });

    function doneTyping() {
        var form = $('#search-form');
        var url = form.attr('action');
        var formData = form.serialize();
        $('#bac-table').html('<p>Loading...</p>');
        $.ajax({
            url: "http://127.0.0.1:8000/searchoffre",
            type: 'GET',
            data: formData,
            dataType: 'json',
            success: function(response) {
                $('#bac-table').html(response.results);
            },
            error: function(xhr, status, error) {
                $('#bac-table').html('<p>Error: ' + error + '</p>');
            }
        });
    }

  $('#search-form').on('change', function() {
        var form = $('#search-form');
        var url = form.attr('action');
        var formData = form.serialize();
        $('#bac-table').html('<p>Loading...</p>');
        $.ajax({
            url: "http://127.0.0.1:8000/searchoffre",
            type: 'GET',
            data: formData,
            dataType: 'json',
            success: function(response) {
                $('#bac-table').html(response.results);
            },
            error: function(xhr, status, error) {
                $('#bac-table').html('<p>Error: ' + error + '</p>');
            }
        });
    });


});
</script>

{% do offres.setPageRange(4) %}
{{ knp_pagination_render(offres, 'appel_offre/pagination.html.twig') }}
{% endblock %}