








 {% extends 'basefront.html.twig' %}
 {% block body %}
        <h1 style="text-align: center;">recuperer mot de passe </h1> 

 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}



        <div class="card">
            <div class="card-body">

              <!-- Vertical Form -->
              <form class="row g-3">
                  
  <div class="col-12">
                  <label for="inputAddress" class="form-label">email</label>
                      {{ form_widget(f.email, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  email'}}) }}
                                                      {{ form_errors(f.email,{ 'attr':{'class':'text-danger'}}) }}

                </div>


                <div class="text-center">

          {{ form_widget(f) }}

                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
{{ form_end(f) }}

 {% endblock %}