{% extends 'basefront.html.twig' %}

 {% block body %}

 <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated zoomIn">Categories</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                        </div>
                    </div>
                </div>
            </div>




  {% for categorie in b %}
            
<div class="row g-4 portfolio-container" style="position: relative; height: 1080px;">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow zoomIn" data-wow-delay="0.1s" style="position: absolute; left: 0px; top: 0px; visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                        <div class="position-relative rounded overflow-hidden">
                            <img class="img-fluid w-100" src="{{asset('front-office/img/portfolio-1.jpg')}}" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="{{asset('front-office/img/portfolio-1.jpg')}}" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>{{categorie.id}}</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="{{ path('displayfront', {'id': categorie.id}) }}">{{categorie.nom}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
         
                </div>
            

      {% endfor %}
{% endblock %}